// Strengthen selector in block editor
.editor-styles-wrapper {
	// stylelint-disable-next-line no-invalid-position-at-import-rule
	@import "front-office";

	.enokh-blocks-navigation {

		// Allow block layout supports to affect inner content
		> div {
			display: contents !important;

			> ul {
				display: contents !important;
			}
		}

		a {
			pointer-events: none;
		}
	}
}

.enokh-blocks-navigation__toolbar-dropdown-control {
	width: 250px;
}
