// Brand colors: backward compatibility
.has-teal-background-color {
	background-color: var(--enokh--color--teal) !important;
}

.has-light-teal-background-color {
	background-color: var(--enokh--color--light-teal) !important;
}

.has-light-pastel-teal-background-color {
	background-color: var(--enokh--color--light-pastel-teal) !important;
}

.has-off-white-background-color {
	background-color: var(--enokh--color--off-white) !important;
}

.has-blue-background-color {
	background-color: var(--enokh--color--blue) !important;
}

.has-rich-blue-background-color {
	background-color: var(--enokh--color--rich-blue) !important;
}

.has-vista-blue-background-color {
	background-color: var(--enokh--color--vista-blue) !important;
}

.has-pastel-blue-background-color {
	background-color: var(--enokh--color--pastel-blue) !important;
}

.has-lime-background-color {
	background-color: var(--enokh--color--lime);
}

.has-lemon-background-color {
	background-color: var(--enokh--color--lemon);
}

.has-dark-accent-grey-background-color {
	background-color: var(--enokh--color--dark-accent-grey) !important;
}

.has-grey-background-color {
	background-color: var(--enokh--color--grey) !important;
}

.has-light-grey-background-color {
	background-color: var(--enokh--color--light-grey) !important;
}

.has-white-background-color {
	background-color: var(--enokh--color--white) !important;
}
