// Brand colors: backward compatibility
.has-teal-border-color {
	border-color: var(--enokh--color--teal) !important;
}

.has-light-teal-border-color {
	border-color: var(--enokh--color--light-teal) !important;
}

.has-light-pastel-teal-border-color {
	border-color: var(--enokh--color--light-pastel-teal) !important;
}

.has-off-white-border-color {
	border-color: var(--enokh--color--off-white) !important;
}

.has-blue-border-color {
	border-color: var(--enokh--color--blue) !important;
}

.has-rich-blue-border-color {
	border-color: var(--enokh--color--rich-blue) !important;
}

.has-vista-blue-border-color {
	border-color: var(--enokh--color--vista-blue) !important;
}

.has-pastel-blue-border-color {
	border-color: var(--enokh--color--pastel-blue) !important;
}

.has-lime-border-color {
	border-color: var(--enokh--color--lime);
}

.has-lemon-border-color {
	border-color: var(--enokh--color--lemon);
}

.has-dark-accent-grey-border-color {
	border-color: var(--enokh--color--dark-accent-grey) !important;
}

.has-grey-border-color {
	border-color: var(--enokh--color--grey) !important;
}

.has-light-grey-border-color {
	border-color: var(--enokh--color--light-grey) !important;
}

.has-white-border-color {
	border-color: var(--enokh--color--white) !important;
}
