// Brand colors: backward compatibility
.has-teal-color {
	color: var(--enokh--color--teal) !important;
}

.has-light-teal-color {
	color: var(--enokh--color--light-teal) !important;
}

.has-light-pastel-teal-color {
	color: var(--enokh--color--light-pastel-teal) !important;
}

.has-off-white-color {
	color: var(--enokh--color--off-white) !important;
}

.has-blue-color {
	color: var(--enokh--color--blue) !important;
}

.has-rich-blue-color {
	color: var(--enokh--color--rich-blue) !important;
}

.has-vista-blue-color {
	color: var(--enokh--color--vista-blue) !important;
}

.has-pastel-blue-color {
	color: var(--enokh--color--pastel-blue);
}

.has-lime-color {
	color: var(--enokh--color--lime);
}

.has-lemon-color {
	color: var(--enokh--color--lemon);
}

.has-dark-accent-grey-color {
	color: var(--enokh--color--dark-accent-grey) !important;
}

.has-grey-color {
	color: var(--enokh--color--grey) !important;
}

.has-light-grey-color {
	color: var(--enokh--color--light-grey) !important;
}

.has-white-color {
	color: var(--enokh--color--white) !important;
}
