.enokh-blocks-accordion {
  border: 1px solid currentColor;
  border-radius: 2px;
  padding: 10px;
}

.enokh-blocks-accordion-item {
  border: 1px solid currentColor;
  overflow: hidden;

  .enokh-blocks-accordion-content {
    padding: 1rem 1.5rem 1.5rem 0;
  }

  .enokh-blocks-accordion-header-inner {
    word-break: break-word;
  }
}
