@use "sass:map";

// Colors

$color-default-teal: "teal";
$color-default-light-teal: "light-teal";
$color-default-light-pastel-teal: "light-pastel-teal";
$color-default-blue: "blue";
$color-default-rich-blue: "rich-blue";
$color-default-vista-blue: "vista-blue";
$color-default-pastel-blue: "pastel-blue";
$color-default-lime: "lime";
$color-default-lemon: "lemon";
$color-default-dark-accent-grey: "dark-accent-grey";
$color-default-grey: "grey";
$color-default-white: "white";

$color-default-list: ();
