.enokh-blocks-navigation-drawer-toggle {
	display: none;
	flex-direction: row;
	background: none;
	border: none;
	color: var(--mds--link--base--color);
	margin: 0;
	padding: 0;

	&:hover {
		background: none;
		border: none;
		color: var(--mds--link--base--color--hover);
	}

	svg {
		fill: currentcolor;
	}

	&__close {
		display: none;
	}
}

body.has-navigation-drawer {
	display: flex;
}

html.has-open-navigation-drawer {

	.enokh-blocks-navigation-drawer-toggle__open {
		display: none;
	}

	.enokh-blocks-navigation-drawer-toggle__close {
		display: flex;
	}
}
