.visible-desktop {
	display: none;

	@include media(">tablet") {
		display: block;
	}
}

.visible-tablet {
	display: none;

	@include media(">mobile", "<=tablet") {
		display: block;
	}
}

.visible-mobile {
	display: none;

	@include media("<=mobile") {
		display: block;
	}
}
