@use "../../../resources/scss/variables";
@import "../../../resources/scss/mixins";
@import "../../../resources/scss/functions";

.enokh-universal-theme-header {
	transition: all 0.3s ease;

	.wp-block-site-logo {

		img {
			transition: all 0.3s ease;
			display: block;
			height: 100%;
			max-height: 60px;
			width: auto;
		}
	}

	// Styles up to large breakpoint
	@include screen-max-medium () {
		padding-top: 0 !important;
		padding-bottom: 0 !important;
		position: sticky;
		top: 0;
		left: 0;
		right: 0;
		z-index: 10;

		&.is-stuck {
			box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
		}

		> .wp-block-group {
			height: variables.$header-tablet-height;
			flex: 1;
		}

		.wp-block-site-logo img {
			transform: scale(0.6);
			transform-origin: left;
		}

		// Group holding utilities nav
		.enokh-universal-theme-header__secondary-container {
			display: none;
		}

		// Group holding main nav, and quick search
		.enokh-universal-theme-header__primary-container {

			// Hide main navigation
			.enokh-blocks-navigation {
				display: none;
			}

			// Hide quick search
			.enokh-blocks-search {
				display: none;
			}
		}
	}

	.enokh-blocks-navigation-drawer-toggle {
		display: none;
	}
}

// Styles when WP admin bar is present
.admin-bar .enokh-universal-theme-header {
	top: var(--wp-admin--admin-bar--height);
}

// RTL support
.rtl .enokh-universal-theme-header {

	// Styles up to large breakpoint
	@include screen-max-medium () {

		.wp-block-site-logo img {
			transform-origin: right;
		}
	}
}

// Style navigation drawer toggle ONLY if there is in fact a navigation drawer
.has-navigation-drawer .enokh-universal-theme-header {

	// Styles up to medium breakpoint
	@include screen-max-medium () {

		.enokh-blocks-navigation-drawer-toggle {
			display: flex;
		}
	}
}
