.enokh-blocks-flex-direction-alignItems-column svg, .enokh-blocks-flex-direction-innerAlignItems-column svg {
  transform: rotate(-90deg) scale(-1, 1);
}

.enokh-blocks-flex-direction-justifyContent-column svg {
  transform: rotate(90deg);
}

.enokh-blocks-flex-direction-alignItems-column-reverse svg, .enokh-blocks-flex-direction-innerAlignItems-column-reverse svg {
  transform: rotate(-90deg);
}

.enokh-blocks-flex-direction-justifyContent-column-reverse svg {
  transform: rotate(90deg) scale(-1, 1);
}

.enokh-blocks-flex-direction-alignItems-row-reverse svg,
.enokh-blocks-flex-direction-innerAlignItems-row-reverse svg,
.enokh-blocks-flex-direction-justifyContent-row-reverse svg {
  transform: scale(-1, 1);
}


.enokh-blocks-flex-controls {
  & > .components-base-control__field {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .enokh-blocks-flex-controls-inner {
    flex-basis: 100%;
    display: flex;

    & > .components-base-control {
      margin-bottom: 0;

      &:nth-child(1) {
        margin-right: 1px;
        flex-basis: 25%;
      }

      &:nth-child(2) {
        margin-right: 1px;
        flex-basis: 25%;
      }
    }

    p {
      margin-bottom: 0;
    }

    .enokh-blocks-flex-basis-wrapper {
      position: relative;
      flex-basis: 50%;

      .enokh-blocks-units-control-header__units {
        position: absolute;
        right: 0;
        top: 5px;
      }
    }
  }
}

.enokh-blocks-layout-gap {
  display: flex;
  gap: 5px;
}
