@mixin button-base {
	color: var(--enokh--button--base--text--color);
	font-family: var(--enokh--button--base--text--family);
	font-size: var(--enokh--button--base--text--size);
	font-style: var(--enokh--button--base--text--style);
	font-weight: var(--enokh--button--base--text--weight);
	background-color: var(--enokh--button--base--background--color);
	border-color: var(--enokh--button--base--border--color);
	border-style: var(--enokh--button--base--border--style);
	border-width: var(--enokh--button--base--border--width);
	border-radius: var(--enokh--button--base--border--radius);
	padding: var(--enokh--button--base--spacing--padding);
	line-height: 1.4;
	box-sizing: border-box;
	transition: all ease-in-out 0.15s;
	box-shadow: none !important;
	cursor: pointer;

	&:hover {
		color: var(--enokh--button--base--text--color--hover);
		background-color: var(--enokh--button--base--background--color--hover);
		border-color: var(--enokh--button--base--border--color--hover);
		border-style: var(--enokh--button--base--border--style--hover);
		border-width: var(--enokh--button--base--border--width--hover);
		border-radius: var(--enokh--button--base--border--radius--hover);
		box-shadow: none !important;
	}
}

@mixin button-style-default {

	@include button-base;
	color: var(--enokh--button--primary--text--color);
	font-family: var(--enokh--button--primary--text--family);
	font-size: var(--enokh--button--primary--text--size);
	font-style: var(--enokh--button--primary--text--style);
	font-weight: var(--enokh--button--primary--text--weight);
	padding: var(--enokh--button--primary--spacing--padding);
	background-color: var(--enokh--button--primary--background--color);
	border-color: var(--enokh--button--primary--border--color);
	border-style: var(--enokh--button--primary--border--style);
	border-width: var(--enokh--button--primary--border--width);
	border-radius: var(--enokh--button--primary--border--radius);

	&:hover {
		color: var(--enokh--button--primary--text--color--hover);
		background-color: var(--enokh--button--primary--background--color--hover);
		border-color: var(--enokh--button--primary--border--color--hover);
		border-style: var(--enokh--button--primary--border--style--hover);
		border-width: var(--enokh--button--primary--border--width--hover);
		border-radius: var(--enokh--button--primary--border--radius--hover);
	}
}

@mixin button-style-outline {

	@include button-base;
	color: var(--enokh--button--secondary--text--color);
	font-family: var(--enokh--button--secondary--text--family);
	font-size: var(--enokh--button--secondary--text--size);
	font-style: var(--enokh--button--secondary--text--style);
	font-weight: var(--enokh--button--secondary--text--weight);
	padding: var(--enokh--button--secondary--spacing--padding);
	background-color: var(--enokh--button--secondary--background--color);
	border-color: var(--enokh--button--secondary--border--color);
	border-style: var(--enokh--button--secondary--border--style);
	border-width: var(--enokh--button--secondary--border--width);
	border-radius: var(--enokh--button--secondary--border--radius);

	&:hover {
		color: var(--enokh--button--secondary--text--color--hover);
		background-color: var(--enokh--button--secondary--background--color--hover);
		border-color: var(--enokh--button--secondary--border--color--hover);
		border-style: var(--enokh--button--secondary--border--style--hover);
		border-width: var(--enokh--button--secondary--border--width--hover);
		border-radius: var(--enokh--button--secondary--border--radius--hover);
	}
}

@mixin button-style-ghost {

	@include button-base;
	color: var(--enokh--button--ghost--text--color);
	font-family: var(--enokh--button--ghost--text--family);
	font-size: var(--enokh--button--ghost--text--size);
	font-style: var(--enokh--button--ghost--text--style);
	font-weight: var(--enokh--button--ghost--text--weight);
	padding: var(--enokh--button--ghost--spacing--padding);
	background-color: var(--enokh--button--ghost--background--color);
	border-color: var(--enokh--button--ghost--border--color);
	border-style: var(--enokh--button--ghost--border--style);
	border-width: var(--enokh--button--ghost--border--width);
	border-radius: var(--enokh--button--ghost--border--radius);

	&:hover {
		color: var(--enokh--button--ghost--text--color--hover);
		background-color: var(--enokh--button--ghost--background--color--hover);
		border-color: var(--enokh--button--ghost--border--color--hover);
		border-style: var(--enokh--button--ghost--border--style--hover);
		border-width: var(--enokh--button--ghost--border--width--hover);
		border-radius: var(--enokh--button--ghost--border--radius--hover);
	}
}

@mixin button-style-disabled {

	@include button-base;
	background-color: var(--enokh--button--disabled--background--color);
	border-color: var(--enokh--button--disabled--border--color);
	border-width: 0;
	border-style: none;
	color: var(--enokh--button--disabled--text--color);
	cursor: not-allowed;

	&:hover {
		background-color: var(--enokh--button--disabled--background--color);
		border-color: var(--enokh--button--disabled--border--color);
		color: var(--enokh--button--disabled--text--color);
	}
}
